.signup-main-div {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 2rem;
  align-items: center;
}

.signup-label {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: right;
}

.signup-input {
  border: none;
  outline: none;
  width: 38.8rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 1rem;
}

.signup-input-error {
  outline: 0.1rem solid #d60000;
}
.signup-input-error::placeholder {
  color: #d60000;
}

.signup-btn {
  border: none;
  width: 27.4rem;
  height: 3.8rem;
  display: block;
  border-radius: 0.8rem;
  background-color: #a9bcff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  place-self: center;
  grid-column: 1 / span 2;
}


.loader {
  width: 25px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f5f5f5;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin:0 auto;
}
@keyframes l3 {to{transform: rotate(1turn)}}