.auth-layout {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.auth-layout-container {
  width: 106rem;
  height: 58rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap:5rem;
  padding: 2rem 0 2rem 0;
}
