.create-quiz-card {
  width: 84.5rem;
  height: 55rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 2rem 9rem;
}

.create-quiz-form {
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 2rem;
}

/* Quiz header */

.create-quiz-header {
  display: grid;
  grid-template-columns: auto auto;
}

.create-quiz-number-div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.create-quiz-number-grid{
  display: grid;
  grid-template-columns: repeat(5,auto);
  
}


.create-quiz-number-digit-div {
  position: relative;
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #00000026;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:2rem ;
}

.create-quiz-number-digit-div-selected {
  box-shadow: 0px 0px 1rem 0px #00000026;
  background-color: #f5f5f5;

}

.create-quiz-number-digit-btn {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  color: #9f9f9f;
}

.create-quiz-delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.3rem;
  border: none;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  z-index: 999;
}

.create-quiz-add-btn-div {
  justify-self: start;
}

.create-quiz-add-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
}

.create-quiz-number-warn {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  color: #9f9f9f;
  justify-self: end;
  align-self: center;
}



/* Quiz btns */

.create-quiz-btns {
  display: flex;
  justify-content: space-between;
}

.create-quiz-cancel-btn {
  width: 27.9rem;
  height: 4.614rem;
  font-size: 2.1rem;
  line-height: 3.15rem;
  border-radius: 1rem;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 0px 15px 0px #00000040;
}

.create-quiz-btn {
  width: 27.9rem;
  height: 4.614rem;
  font-size: 2.1rem;
  line-height: 3.15rem;
  border-radius: 1rem;
  background-color: #60b84b;
  color: #fff;
  border: none;
  outline: none;
}

.loader {
  width: 25px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f5f5f5;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin:0 auto;
}
@keyframes l3 {to{transform: rotate(1turn)}}