@media screen and (max-width: 770px) {

  html{
    background-color: #fff;

  }

  .user-question-div {
    display: grid;
    height: 100vh;
    background-color: #fff;
  }

  .user-question-card {
    height: 100dvh;
    width: 100%;
    border-radius: 0;
    display: grid;
    grid-template-rows: 1fr auto 9fr;
    gap: 2rem;
    padding: 2rem;
    box-shadow: none;
  }

  .user-question-number {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    text-align: left;
  }

  .digit {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  /* Question */
  .user-question-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: left;
  }
  /* Option form */
  .option-form {
    display: grid;
    grid-template-rows: 6fr auto;
    row-gap: 4rem;
    height: 100%;
    width: 28rem;
    justify-self: center;
    align-self: center;
  }

  .options-div {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    justify-items: left;
    width: 28rem;

  }

  .option-card {
    float: left;
    width: 27rem;
    height: 11.2rem;
    position: relative;
    text-align: center;
    justify-self: center;
  }

  .option-radio-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    opacity: 0.01;
    z-index: 100;
  }

  .option-div {
    background-color: #f0f0f0;
    width: 26rem;
    height: 9.6rem;
    border-radius: 1rem;
  }

  .option-div-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1.5rem 0 2rem;
  }

  .option-text-div {
    padding: 0.75rem;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 27rem;
    height: 5.67rem;
  }

  .option-text {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-transform: capitalize;
    text-align: left;
  }

  .option-text-img {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: capitalize;
    text-align: left;
  }

  .option-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .option-img-div {
    width: 13.6rem;
    height: 12.1rem;
    border-radius: 1rem;
    width: 13.6rem;
    height: 7.7rem;
  }

  .option-only-img-div {
    width: 26rem;
    height: 9.663rem;
    border-radius: 0.5rem;
  }

  /* Option from btn */
  .option-btn-div {
    justify-self: center;
  }

  .option-next-btn {
    border: none;
    outline: none;
    background-color: #60b84b;
    width: 18.8rem;
    height: 3.29rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: #fff;
  }
}

@media screen and (max-width: 320px) {
  .user-question-card {
    height: 107dvh;
    width: 106%;
  }
}
