@media screen and (min-width: 1024px) {
  .user-question-card {
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    padding: 1rem 2rem;
    height: 51rem;
    width: 111rem;
  }

  .user-question-text {
    font-size: 3rem;
  }

  /* Option form */
  .option-form {
    display: grid;
    grid-template-rows: 5fr 1fr;
    row-gap: 2rem;
    height: 100%;
  }

  .options-div {
    align-items: start;
    gap: 0;
  }

  .option-div {
    background-color: #f0f0f0;
    width: 28.4rem;
    height: 12rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }

  .option-div-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1.5rem 0 2rem;
  }

  .option-text-div {
    background-color: #f0f0f0;
    width: 32rem;
    height: 11.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.75rem;
  }

  .option-text {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5.25rem;
    text-transform: capitalize;
    text-align: left;
  }

  .option-text-img {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 4rem;
    text-transform: capitalize;
    text-align: left;
  }

  .option-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .option-img-div {
    width: 13.6rem;
    height: 10rem;
    border-radius: 1rem;
  }

  .option-only-img-div {
    width: 28.4rem;
    height: 12rem;
  }

  /* Option from btn */
  .option-btn-div {
    justify-self: center;
  }

  .option-next-btn {
    border: none;
    outline: none;
    background-color: #60b84b;
    width: 32rem;
    height: 5.6rem;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: #fff;
  }
}
